#block-requestcoauthorship ul.contextual-links,
.ck-toolbar_grouping button.ck-splitbutton__action,
.ck-toolbar_grouping button.ck-splitbutton__arrow,
.node-collaboration .request-co-authorship {
  display: none;
}

#section-comments + section,
.site-footer {
  &.open-quickedit {
    visibility: hidden;
  }
}

.ck.ck-sidebar.ck-sidebar--wide .ck-sidebar-item {
  z-index: 10;
}

.ck.ck-editor__main .ck-content.ck-editor__editable * {
  word-break: normal;
}
