.ck .ck.ck-toolbar.ck-toolbar_grouping > .ck-toolbar__items {
  flex-wrap: wrap;
}

.ck.ck-reset.ck-editor {
  clear: both;
  z-index: 1;
}

.ck.ck-presence-list.ck-reset {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  z-index: 2;
}

.ck.ck-sidebar.ck-reset {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.ck.ck-sidebar.ck-sidebar--wide .ck-sidebar-item {
  position: absolute;
  width: calc(100% / 2);
  right: calc((-100% - 6rem) / 2);
}
.ck.ck-sidebar.ck-sidebar--narrow .ck-sidebar-item {
  width: auto;
  right: -70px;
}

/*# sourceMappingURL=social_realtime_collaboration.css.map */
