.quickedit-form-container {
  position: static;
}
.quickedit-form-container .quickedit-form {
  max-width: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  background: #fff;
}
.quickedit-form-container .ck.ck-reset.ck-editor {
  margin: 0 -18px;
}

.region--complementary.open-quickedit,
#section-comments + section.open-quickedit,
.site-footer.open-quickedit {
  visibility: hidden;
}

#quickedit-entity-toolbar {
  z-index: 10000;
}
#quickedit-entity-toolbar.quickedit-toolbar-pointer-top {
  margin-top: 25px;
}

/*# sourceMappingURL=quickedit.css.map */
