.quickedit-form-container {
  position: static;

  .quickedit-form {
    max-width: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;
    background: #fff;
  }

  .ck.ck-reset.ck-editor {
    margin: 0 -18px;
  }
}

.region--complementary,
#section-comments + section,
.site-footer {
  &.open-quickedit {
    visibility: hidden;
  }
}

#quickedit-entity-toolbar {
  z-index: 10000;

  &.quickedit-toolbar-pointer-top {
    margin-top: 25px;
  }
}